<div class="list-group-item clearfix mx-auto">
  <div class="container">

    <div class="row">
      <h2>Graduation</h2>
      <div class="col-md-12 details">
        <blockquote>
          <h4>Vasavi College of Engineering</h4>
          <small><cite title="Source Title">Kodad, Telangana  <i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
          Cgpa:7.8<br>
          Information Technology<br>
          2018-2022
        </p>
      </div>
    </div>
  </div>
</div>

<div class="list-group-item clearfix mx-auto">
  <div class="container">

    <div class="row">
      <h2>Intemediate</h2>
      <div class="col-md-12 details">
        <blockquote>
          <h4>Sri Gayatri Junior College</h4>
          <small><cite title="Source Title">Hyderabad, Telangana  <i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
          Score:983<br>
          MPC<br>
          2016-2018
        </p>
      </div>
    </div>
  </div>
</div>


<div class="list-group-item clearfix mx-auto">
  <div class="container">

    <div class="row">
      <h2>High School</h2>
      <div class="col-md-12 details">
        <blockquote>
          <h4>Ideal High School</h4>
          <small><cite title="Source Title">Kodad, Telangana  <i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
          cgpa:9.8 <br>
          2016-2018
        </p>
      </div>
    </div>
  </div>
</div>
