<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add Education
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Education</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form
          [formGroup]="addEducationForm"
          (ngSubmit)="addeducation()" class="form">
          <div class="wrapper rounded bg-white">
            <div class="h3">Registration Form</div>
            <div class="form">
              <div class="row">
                <label for="degree">Degree</label> <input type="text" id="degree" class="form-control" name="degree" formControlName="degree" required>
                <span  class ="text-danger" *ngIf="addeducationform['degree'].errors?.['required'] && addeducationform['degree'].touched">*Degree is a required field</span>
                <label>Institution</label> <input type="text" class="form-control" name="institution" formControlName="institution" required>
                <span  class ="text-danger" *ngIf="addeducationform['institution'].errors?.['required'] && addeducationform['institution'].touched">*Institition is a required field</span>
              </div>
              <div class="row">
                <label>Major</label> <input type="text" class="form-control"name="major" formControlName="major" required>
                <span  class ="text-danger" *ngIf="addeducationform['major'].errors?.['required'] && addeducationform['major'].touched">*Major is a required field</span>
              </div>
              <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>StartDate</label> <input type="date" class="form-control" name="startDate" formControlName="startDate"> </div>
                <div class="col-md-6 mt-md-0 mt-3"> <label>EndDate</label> <input type="date" class="form-control"name="endDate" formControlName="endDate"> </div>
              </div>
              <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>Score</label> <input type="number" class="form-control"name="score" formControlName="score" required>
                  <span  class ="text-danger" *ngIf="addeducationform['score'].errors?.['required'] && addeducationform['score'].touched">*Score is a required field</span>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6 mt-md-0 mt-3"> <label>Location</label> <input type="text" class="form-control" name="location" formControlName="location"> </div>

              </div>


            </div>
          </div>

          <div class="modal-footer">

            <button type="submit" class="btn btn-primary" >Add</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" style="float:right">Close</button>


          </div>

        </form>

        </div>


      </div>
    </div>
  </div>


<h3  style="text-align: center">Education</h3><hr style="width: 70%;
                                                  margin-left: auto;
                                                  margin-right: auto;">
<div *ngFor="let index of EducationDetails">
<div class="list-group-item clearfix mx-auto">
  <div class="container" >

    <div class="row">
      <input type="button" value="Delete"  class="btn btn-danger"  (click)="deleteeducation(index.id)" style="float : right"/>
      <h2>{{index.degree}}</h2>
      <div class="col-md-12 details">
        <blockquote>
          <h4>{{index.institution}}</h4>
          <small><cite title="Source Title">{{index.location}}<i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
          {{index.score}}<br>
          {{index.major}}<br>
          {{index.startDate}}-{{index.endDate}}
        </p>
      </div>
    </div>
  </div>
</div>
</div>




