<div class="container" style="max-width:600px; background-color: whitesmoke;">
  <h2 class="textual">User Registration</h2>


  <form
  [formGroup]="registrationForm"
  (ngSubmit)="registeruser()
">
    <small class="text-danger">{{msg}}</small>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email"  name="email" placeholder="Enter email" pattern="[^ @]*@[^ @]*.[^ .]" formControlName="emailId"

      >

      <span  class ="text-danger" *ngIf="registrationform['emailId'].errors?.['required'] && registrationform['emailId'].touched">*Email is a required field</span>
      <span  class ="text-danger" *ngIf="registrationform['emailId'].touched && registrationform['emailId'].errors?.['pattern']">*Enter a valid emailId</span>

    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username"  name="username"  placeholder="Enter Username" formControlName="userName">
      <span  class ="text-danger" *ngIf="registrationform['userName'].errors?.['required'] && registrationform['userName'].touched">*Username is a required field</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control"  name="password"   placeholder="Enter password" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" formControlName="password"

      >
      <span  class="text-danger" *ngIf="registrationform['password'].errors?.['required'] && registrationform['password'].touched">*Password is a required feild</span>
      <span  class ="text-danger" *ngIf="registrationform['password'].touched && registrationform['password'].errors?.['pattern']">*Password must contain,>=8 characters,one or more [A-Z],one or more [a-z],one or more[0-9],one or more special characters</span>

    </div>
    <div class="form-group">
      <label for="password"> Confirm Password</label>
      <input type="password" class="form-control" id="password"  name="cpassword"  placeholder="Enter password"   formControlName="cpassword">
     <span  class ="text-danger" *ngIf="registrationform['cpassword'].touched && (registrationform['password'].value !== registrationform['cpassword'].value)">*confirm password should be same as password</span><br>

    </div>

    <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary">Sign Up</button>


    <span class="psw" (click)="gotologin()" style="float:right">Wanna login?<a>Login here</a></span>
  </form>-->
</div>


