<div class="container" style="max-width:600px; background-color: whitesmoke;">
  <h2 class="textual">User Registration</h2>
  <form #Registerform="ngForm" (ngSubmit)="registeruser()">
    <small class="text-danger">{{msg}}</small>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email"  name="email" placeholder="Enter email" pattern="[^ @]*@[^ @]*.[^ .]" [(ngModel)]=user.emailId required #email="ngModel"
       [class.is-invalid]="email.invalid && email.touched"
      >
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small  class="text-danger" *ngIf="email.errors?.['required']">*Email is a required field</small>
        <small  class="text-danger" *ngIf="email.errors?.['pattern']">*Enter a valid EmailId</small>
      </div>
    <!--  <span  class ="text-danger" *ngIf="email.invalid  && email.touched">*Email is a Required field</span><br>-->

    </div>
    <div class="form-group">
      <label for="username">Userame</label>
      <input type="text" class="form-control" id="username"  name="username"  placeholder="Enter Username" [(ngModel)]=user.userName #username="ngModel" required>
      <span  class ="text-danger" *ngIf="email.invalid && email.touched">*Username is a Required field</span><br>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control"  name="password"   placeholder="Enter password" [(ngModel)]="user.password" #password="ngModel" required>
      <span  class ="text-danger" *ngIf="password.invalid && password.touched">*Username is a Required field</span><br>
    </div>
    <div class="form-group">
      <label for="password"> Confirm Password</label>
      <input type="password" class="form-control" id="password"  name="cpassword"  placeholder="Enter password" #cpassword="ngModel"  [(ngModel)]="user.password"  required>
      <span  class ="text-danger" *ngIf="password.value !== cpassword.value">*confirm password should be same as password</span><br>
    </div>

    <button type="submit" [disabled]="Registerform.form.invalid"class="btn btn-primary">Sign Up</button>
  </form>
</div>
