<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add Experience
</button>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form (ngSubmit)="addexperience()"
              [formGroup]="addExperienceForm"
              class="form">
        <div class="wrapper rounded bg-white">
          <div class="h3">Experience Details</div>
          <div class="form">
            <div class="row">
              <label for="company">Company</label> <input type="text" id="company" class="form-control" name="company" formControlName="company" required>
              <span  class ="text-danger" *ngIf="addexperienceform['company'].errors?.['required'] && addexperienceform['company'].touched">*Company is a required field</span>
              <label for="role">Role</label> <input type="text" id="role" class="form-control" name="role" formControlName="role" required>
              <span  class ="text-danger" *ngIf="addexperienceform['role'].errors?.['required'] && addexperienceform['role'].touched">*Role is a required field</span>
            </div>

            <div class="row">
              <div class="col-md-6 mt-md-0 mt-3"> <label>StartDate</label> <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate"> </div>
              <div class="col-md-6 mt-md-0 mt-3"> <label>EndDate</label> <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate"> </div>
            </div>

            <div class="row">
              <div class="col-md-6 mt-md-0 mt-3"> <label>Location</label> <input type="text" class="form-control" id="location" name="location" formControlName="location"> </div>

            </div>



          </div>
        </div>
        <div class="modal-footer">

          <button type="submit" class="btn btn-primary" >Add</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="float:right">Close</button>

        </div>

        </form>

</div>


</div>
</div>
</div>


<h3  style="text-align: center">Experience</h3><hr style="width: 70%; margin-left: auto; margin-right: auto;">
<div *ngFor="let index of ExperienceDetails">
  <div class="list-group-item clearfix mx-auto">
    <div class="container" >

      <div class="row">
        <input type="button" value="Delete"  class="btn btn-danger"   (click)="deletexperience(index.id)" style="float : right"/>
        <h2>{{index.company}}</h2>
        <div class="col-md-12 details">
          <blockquote>
            <h4>{{index.role}}</h4>
            <small><cite title="Source Title">{{index.location}}<i class="icon-map-marker"></i></cite></small>
          </blockquote>
          <p>
            {{index.startDate}}-{{index.endDate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

